*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}
/* {
	outline: solid 1px black;
	outline-offset: -1px
  }*/
.header{
	min-height: 100vh;
	width: 100vw;
	background-image: linear-gradient(rgba(0, 24, 121, 0.5),rgba(0, 24, 121, 0.5)), url(images/ocean.jpg);
	background-size: cover;
	position: relative;
	background-position: center;
}
.smaller-header{
	min-height: 25vh;
	width: 100vw;
	background-image: linear-gradient(rgba(0, 24, 121, 0.5),rgba(0, 24, 121, 0.5)), url(images/ocean.jpg);
	background-size: cover;
	position: relative;
	background-position: center;
}


/* HEADER MENU LINKS */
.header nav{
	display: flex;
	padding: 2% 3% 7%;
	justify-content: space-between;
	align-items: center;
}
.smaller-header nav{
	display: flex;
	padding: 2% 3% 0%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 200px;
}
nav .fa-solid{
	display: none;
}
.nav-links{
	flex: 1;
	padding: 0% 3%;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	font-weight: bold;
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
	font-size: 15px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background-color: white;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}



/* INTRODUCTION TEXTBOX */
.text-box{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-items: center;
	color: white;
}
.text-box h1{
	font-size: 62px;
	text-align: center;
}
.text-box p{
	padding: 1% 10% 2%;
	font-size: 20px;
	text-align: justify;
	line-height: 1.5;
}
.dive-in-btn{
	flex: none;
	display: inline-block;
	outline: solid 3px white;
	color: white;
	font-weight: bold;
	outline-offset: -1px;
	font-size: 25px;
	padding: 1% 2.5%;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	border-radius: 2px;
	align-self: center;
}
.dive-in-btn:hover{
	background-color: white;
	color: black;
	transition: 0.5s;
}


@media(max-width: 700px) {
	.text-box h1{
		padding: 0% 0% 0%;
		font-size: 35px;
	}
	.text-box p{
		padding: 2% 10% 6%;
		font-size: 12px;
		text-align: justify;
		line-height: 1.5;
	}
	.dive-in-btn{
		display: inline-block;
		outline: solid 1px white;
		color: white;
		font-weight: bold;
		outline-offset: -1px;
		font-size: 15px;
		padding: 4% 6%;
		text-decoration: none;
		position: relative;
		cursor: pointer;
	}
	.nav-links ul li{
		display: block;
		padding: 5%;
	}
	.nav-links{
		position: absolute;
		background-color: rgba(0, 24, 121, 1);
		height: 100vh;
		width: 50vw;
		text-align: left;
		top: 0;
		right: -57vw;
		z-index: 2;
		transition: 1s;
	}
	nav .fa-solid{
		display: block;
		color: white;
		text-align: left;
		margin: 10px;
		font-size: 20px;
		cursor: pointer;
	}
	.nav-links ul li:hover::after{
		width: 0%;
	}
}

/*text*/
.descriptive-text{
	width: 90%;
	margin: auto;
	text-align: justify;
	padding-top: 2%;
}
.descriptive-text h1{
	padding-bottom: .5%;
	padding-top: .5%;
	font-size: 30px;
}
.descriptive-text h2{
	padding-top: 1%;
	padding-bottom: .5%;
	font-size: 20px;
}
.descriptive-text p{
	font-size: 15px;
}

@media(max-width: 700px) {
	.descriptive-text h1{
		padding-bottom: .5%;
		padding-top: .5%;
		font-size: 25px;
	}
	.descriptive-text h2{
		padding-top: 1%;
		padding-bottom: .5%;
		font-size: 15px;
	}
	.descriptive-text p{
		font-size: 12px;
	}
}


/*settlement images*/
.settlement-images{
	display: flex;
	flex-direction: row;
	width: 100vw;
	gap: 1%;
	padding-top: 1%;
	justify-content: center;
}

.settlement-images a {
	width: 20vw; 
	height: 65vh; 
	display: block;
	position: relative;
}

.settlement-images a img {
	width: 100%; 
	height: 100%; 
	border-radius: 5%;
	object-fit: cover;
}

.settlement-images a div{
	width: 100%; 
	height: 100%; 
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border-radius: 5%;
	transition: .5s;
}
.settlement-images a div h3{
	text-align: center;
	padding-top: 5%;
	font-size: 20px;
	text-decoration: none;
	color: transparent;
	transition: .5s;
}
.settlement-images a div p{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	color: transparent;
	transition: .5s;
}
.settlement-images a:hover div h3{
	color: white;
}
.settlement-images a:hover div p{
	color: white;
}
.settlement-images a.blue:hover div{
	background: rgba(0, 24, 121, 0.7);
}
.settlement-images a.red:hover div{
	background: rgba(123, 41, 0, 0.7);
}
.settlement-images a.green:hover div{
	background: rgba(7, 107, 0, 0.7);
}
.settlement-images a.yellow:hover div{
	background: rgba(130, 105, 1, 0.7);
}

@media(max-width: 700px){
	.settlement-images{
		display: flex;
		flex-direction: column;
		width: 100vw;
		row-gap: 12px;
		padding-top: 3%;
	}
	.settlement-images a {
		width: 80vw; 
		height: 25vh; 
		display: block;
		align-self: center;
	}
	.settlement-images a div{
		width: 100%; 
		height: 100%; 
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 5%;
	}
	.settlement-images a div h3{
		text-align: center;
		padding-top: 5%;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}
	.settlement-images a div p{
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 5%;
		font-size: 15px;
		text-align: center;
		text-decoration: none;
		color: transparent;
	}
	.settlement-images a.blue div{
		background: rgba(0, 24, 121, 0.7);
	}
	.settlement-images a.red div{
		background: rgba(123, 41, 0, 0.7);
	}
	.settlement-images a.green div{
		background: rgba(7, 107, 0, 0.7);
	}
	.settlement-images a.yellow div{
		background: rgba(130, 105, 1, 0.7);
	}
}